.button{
    margin-top: 3%;
    margin-left: 3%;
}
.button:hover{
    cursor: pointer;
}

.speichern{
    border-radius: 1em;
    padding: 1%;
    background-color: green;
}

.loeschen{
    border-radius: 1em;
    padding: 1%;
    background-color: red;
}

/* Google */
.data{
    display: none;
}

.g-signin2{
    position: absolute;
    top: 17%;
    left: 90%;
    margin-top: -50px;
    margin-left: -50px;
}