.button{
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
    outline: none;
    border: 0;
    white-space: nowrap;
    width: min-content;
    font-size: var(--normalFontSize);
}

.speichern{
    background-color: green;
}

.loeschen{
    background-color: red;
}