:root {
    --background: #000000;
    --secondaryBackground: #2d2d2d;
    --tertiaryBackground: #808080;
    --textColor: #FFFFFF;
    --headerFontSize: 5rem;
    --secondaryheaderFontSize: 3rem;
    --normalFontSize: 2rem;
}

html * {
    font-family: sans-serif;
    color: var(--textColor);
}

html{
    font-size: 16px;
}

body{
    background-color: var(--background);
    cursor: default;
    overscroll-behavior: none;
}

.ueberschrift{
    font-size: var(--headerFontSize);
}

input{
    background-color: #808080;
}

::placeholder{
    color: var(--textColor);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.alleWochentage{
    background-color:var(--secondaryBackground);
    margin: 2rem;
    width: 100%;
}

.colorChanger{
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
}

.settings{
    margin-left: 2rem;
    background-color:var(--secondaryBackground);
    border-radius: 1rem;
    padding: 1rem;
}

.settingsheader{
    font-size: var(--secondaryheaderFontSize);
}

.colorsettings{
    margin-right: 5rem;
    font-size: var(--normalFontSize);
}

.todoUeberschrift{
    font-size: var(--secondaryheaderFontSize);
}
