body{
    background-color: black;
    color: white;
    cursor: default;
}

header {
    margin: 5%;
    font-size: 220%;
}

.heute, .wochentag{
    margin: 3%;
    background-color:#2d2d2d;
    border-radius: 1em;
    padding: 1%;
}

h2{
    font-size: 260%;
}
.uebung {
    margin-left: 3%;
    background-color:#2d2d2d;
    display: flex;
}

.sets-reps-kg{
    background-color:gray;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

.uebungen:hover{
    cursor: pointer;
}

.columns{
    flex-direction: column;
    border-radius: 1em;
    padding: 1%; 
    font-size: 320%;
}

.rows{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.angaben{
    flex: 1;
}

.normal_input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    flex: 2;
    font-size: 100%;
    border-color: white;
    outline: none;
}

.gewicht{
    border-bottom: 0;
}

.info{
    margin-top: 2%;
    border-radius: .5em;
    background-color:gray;
    border:0;
}

.normal_input::placeholder{
    color: white;
}

.absatz{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.kategorien{
    margin: 2%;
    font-size: 220%;
}

.wochentage-selector{
    width: 2em;                  
    height: 2em;  
    clip-path: circle(46% at 50% 50%);
    border-color: transparent;
}

.wochentage-selector:checked {
    content: url('img/check.png')
}

option{
    margin: 0%;
    font-size: 130%;
}  

.button:hover{
    cursor: pointer;
}

.button{
    margin-top: 3%;
    margin-left: 3%;
}

.hinzufuegen{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 160%;
}

.uebungwochentag{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: .5em;
}

.uebungkoerperteil{
    border-radius: .3em;
    width: 100%;
    background-color: gray;
    font-size: 100%;
    color: white;
}

.speichern{
    border-radius: 1em;
    padding: 1%;
    background-color: green;
}

.loeschen{
    border-radius: 1em;
    padding: 1%;
    background-color: red;
}
