body{
    background-color: black;
    color: white;
    cursor: default;
}

header {
    margin: 5%;
    font-size: 220%;
}

.heute, .wochentag{
    margin: 3%;
    background-color:#1d1d1f;
    border-radius: 1em;
    padding: 1%;
}

h2{
    font-size: 260%;
}
.uebung {
    margin-left: 3%;
    background-color:#1d1d1f;
    display: flex;
}

.uebungen:hover{
    cursor: pointer;
}

.columns{
    flex-direction: column;
    border-radius: 1em;
    padding: 1%; 
    font-size: 320%;
}

.rows{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.angaben{
    flex: 1;
}

.normal_input{
    border-color: transparent;
    border-radius: 1em;
    flex: 2;
    font-size: 100%;
}

.absatz{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.kategorien{
    margin: 2%;
    font-size: 220%;
}

.wochentage-selector{
    top: 2em;
    width: 1.5em;
    height: 1.3em;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.wochentage-selector:checked {

    content: url('img/check.png')
}

option{
    margin: 0%;
    font-size: 130%;
}  

.button:hover{
    cursor: pointer;
}

.button{
    margin-top: 3%;
    margin-left: 3%;
}

.hinzufuegen{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 160%;
}

.uebungwochentag{
    display: flex;
    flex-direction: column;
}

.uebungkoerperteil{
    border-radius: 1em;
    width: 100%;

    font-size: 100%;
}

.speichern{
    border-radius: 1em;
    padding: 1%;
    background-color: green;
}

.loeschen{
    border-radius: 1em;
    padding: 1%;
    background-color: red;
}