/* Hinzufüegen Übung Button*/
.svgAdd{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    height: 4rem;
    fill: #00aba9; 
}

/* Wochentag check */
.wochentage-selector{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgUncheked.svg');
}

.wochentage-selector:checked{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgCheked.svg')
}

/* TODO */
.todochecker{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgUncheked.svg');
}

.todochecker:checked{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgCheked.svg')
}

.todo_add{
    background-color: #00aba9;
    height: var(--normalFontSize);
    border-radius: 50%;
}

/*Settings*/
.svgSettings{
    fill: #ffffff;
    height: 1em;
}

/*Löschen*/
.svgDelet{
    height: 1em;
}