/* Hinzufüegen Übung Button*/
.svgAdd{
    position: absolute;
    top: 200%;
    bottom: 0;
    right: 0;
    height: 4rem;
    fill: #00aba9; 
    z-index: 1;
}

/* Wochentag check */
.wochentage-selector{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgUncheked.svg');
}

.wochentage-selector:checked{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgCheked.svg')
}

/* TODO */
.todochecker{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgUncheked.svg');
}

.todochecker:checked{
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    content: url('img/svgCheked.svg')
}

.todo_add{
    background-color: #00aba9;
    height: var(--normalFontSize);
}

/*Settings*/
.svgSettings{
    fill: #ffffff;
    height: 1em;
}

/*Löschen*/
.svgDelet{
    height: 1em;
    fill: #ff0000;
}

/* Zurück Button */
.zurueck{
    fill: #00aba9;
    height: 1em;
}

/* Suche */
.svgSearch{
    fill: #ffffff;
    height: 1em;
}