:root{
    --background: #000000;
    --secondaryBackground: #2d2d2d;
    --tertiaryBackground: #808080;
    --absolutBackground: #1d1d1d;
    --textColor: #FFFFFF;
    --headerFontSize: 2rem;
    --secondaryheaderFontSize: 1.5rem;
    --normalFontSize: 1rem;
}

* body{
    font-family: Arial;
}

html{
    font-size: 40px;
}

.content{
    display: none;
}
.content.active{
    display: block;
}
.templates{
    display: none;
}

.hidden{
    visibility: hidden;
}

body{
    background-color: var(--background);
    color: #FFFFFF;
    margin: 1.5rem;
    margin-top: .5rem;
    cursor: default;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--headerFontSize);
    font-weight: 800;
    margin-bottom: .8em;
}

::placeholder{
    color: #FFFFFF;
}

input{
    background-color: var(--secondaryBackground);
    border-radius: .4em;
    border: 0;
    color: var(--textColor);
    font-size: var(--normalFontSize);
}

summary{
    display: block;
    padding-left: .3rem;
}

select{
    background-color: var(--secondaryBackground);
    color: var(--textColor);
    border-radius: .4em;
    font-size: 1.5rem;
}

.overlay{
    display: block;
    position: fixed;
    background-color:var(--absolutBackground);
    width: 100%;
    height:fit-content;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: .8em;
}

.boxDarkGray{
    display: grid;
    background-color: var(--secondaryBackground);
    padding: 1rem;
    border-radius: .8em;
    margin-bottom: 1em;
}

.boxHeader{
    font-size: var(--secondaryheaderFontSize);
    font-weight: 600;
}

.button{
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
    outline: none;
    border: 0;
    white-space: nowrap;
    width: min-content;
    font-size: var(--normalFontSize);
    color: var(--textColor);
}

.button.speichern{
    background-color: green;
}

.button.loeschen{
    background-color: red;
}

.home{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(1,1fr);
}

.uebung{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    cursor: pointer;
    font-size: var(--normalFontSize);
}

.uebung:hover{
    border: 1px solid gray;
}

.uebung > div:not(.uebungName){
    text-align: right;
}

.uebungName{
    grid-column: span 2;
}

.alignItems{
    display: flex;
    align-items: center;
    gap: .2em;
    margin-bottom: .3em;
}

.multiChecklist{
    background-color: var(--secondaryBackground);
    border-radius: .4em;
}

.uebungErstellen{
    gap: .5em;
    background-color: var(--absolutBackground);
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.uebungHeader{
    font-size: 1.5rem;
    bottom: 0;
    z-index: 3;
}

.normal_input{
    font-size: 1.5rem;
    width: 95%;
}

.link{
    color:#00aba9;
    font-size: 1rem;
    font-weight: 700;
}

.todoinput{
    background-color: #1d1d1d;
}

.overboxBox{
    justify-content: space-between;
    margin: 0;
}

.zurueckUebersicht{
    padding: 0;
    font-size: var(--secondaryheaderFontSize);
}

.goalList{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.goals{
    background-color: var(--secondaryBackground);
    padding: 1rem;
    border-radius: .8em;
}

.goalsfirst{
    font-size: .8rem;
}

.goalslast{
    color: greenyellow  ;
}

.goalslider{
    -webkit-appearance: none;
    width: 100%;
    height: .3em;
    border-radius: .8em;  
    background: #000000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.goalslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .8em;
    height: .8em;
    border-radius: 50%; 
    background: #00aba9;
    cursor: pointer;
}

.goalslider::-moz-range-thumb {
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background: #00aba9;
    cursor: pointer;
}

.goalErstellen{
    font-size: 1.5rem;
    gap: .5em;
    background-color: var(--absolutBackground);
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.goal_input{
    font-size: 1.5rem;
}

.inputtext{
    display: grid;
    grid-template-columns: .1fr 1fr;
    gap: .5em;
    text-align: left;
}

.grid2collumns{
    display: grid;
    grid-template-columns: .9fr .1fr;
}