:root{
    --background: #000000;
    --secondaryBackground: #2d2d2d;
    --tertiaryBackground: #808080;
    --textColor: #FFFFFF;
    --headerFontSize: 2rem;
    --secondaryheaderFontSize: 1.5rem;
    --normalFontSize: 1rem;
}

* body{
    font-family: Arial;
}

html{
    font-size: 30px;
}

.content{
    display: none;
}
.content.active{
    display: block;
}
.templates{
    display: none;
}

.hidden{
    visibility: hidden;
}

body{
    background-color: var(--background);
    color: #FFFFFF;
    margin: 2rem;
    cursor: default;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--headerFontSize);
    font-weight: 800;
    margin-bottom: .3em;
}

::placeholder{
    color: #FFFFFF;
}

input{
    background-color: var(--tertiaryBackground);
    border-radius: .4em;
    border: 0;
    color: var(--textColor);
    font-size: var(--normalFontSize);
}

select{
    background-color: var(--tertiaryBackground);
    color: var(--textColor);
    border-radius: .4em;
    font-size: var(--normalFontSize);
}

.boxDarkGray{
    display: grid;
    background-color: var(--secondaryBackground);
    padding: 1rem;
    border-radius: .8em;
    margin-bottom: 1em;
}

.boxHeader{
    font-size: var(--secondaryheaderFontSize);
    font-weight: 600;
}

.button{
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
    outline: none;
    border: 0;
    white-space: nowrap;
    width: min-content;
    font-size: var(--normalFontSize);
    color: var(--textColor);
}

.button.speichern{
    background-color: green;
}

.button.loeschen{
    background-color: red;
}

.home{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(1,1fr);
}

.uebung{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    cursor: pointer;
    font-size: var(--normalFontSize);
}

.uebung:hover{
    border: 1px solid gray;
}

.uebung > div:not(.uebungName){
    text-align: right;
}

.uebungName{
    grid-column: span 2;
}

.alignItems{
    display: flex;
    align-items: center;
    gap: .2em;
    padding-left: .5em;
    margin-bottom: .3em;
}

.multiChecklist{
    background-color: var(--tertiaryBackground);
    border-radius: .5em;
    padding-top: .3em;
}

.uebungErstellen{
    gap: .5em;
}

.link{
    color:#00aba9;
}

.overboxBox{
    justify-content: space-between;
    margin: 0;
}

.addTodo{
    margin-left: 1.5em;
}