.todo{
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryBackground);
}

.todolist{
    margin: 2%;
}

.todo_add{
    background-color: #00aba9;
    height: var(--normalFontSize);
    border-radius: 50%;
}

.todoname{
    border-radius: 1rem;
    border: 0;
    outline: none;
    font-size: var(--normalFontSize);
    padding-left: .3em;
}


.todo_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}