.todo{
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.todolist{
    margin: 2%;
}

.todo_add{
    background-color: #00aba9;
    height: 1.5rem;
    border-radius: 50%;
}

.todoname{
    border-radius: 1rem;
    border: 0;
    outline: none;
}


.todo_flex{
    display: flex;
    flex-direction: row;
}