.wochentag{
    margin: 2rem;
    background-color:var(--secondaryBackground);
    border-radius: 1rem;
    padding: 1rem;
}

.uebungenWochentage{
    font-size: var(--secondaryheaderFontSize);
}

.uebung {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 2rem;
    cursor: pointer;
    border: 3px solid transparent;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    font-size: var(--normalFontSize);
}

.hold {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.hold:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.hidden{
    visibility: hidden;
}

.hovered{
    border: 3px dashed grey;
}

.kategorien{
    overflow: unset;
    text-align: right;
}

.kName{
    text-align: left;
    grid-column: span 2;
}