.columns{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:8%;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 5%;
    font-size: 3em;
    background-color: var(--secondaryBackround);
    width: auto;
    height: auto;
    margin: 0;
}

.sets-reps-kg{
    background-color:var(--thirdaryBackround);
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

.angaben{
    flex: 1;
}

.normal_input{
    color:white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    flex: 2;
    font-size: 1em;
    border-color: white;
    outline: none;
}

.data > div:nth-child(2){
    margin-left: auto;
}

.info{
    margin-top: 2%;
    border-radius: .5em;
    background-color:var(--thirdaryBackround);
    border:0;
}

.normal_input::placeholder{
    color: white;
}

.absatz{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}


option{
    margin: 0%;
    font-size: 1em;
}  

.uebungwochentag{
    display: flex;
    flex-direction: column;
    background-color: var(--thirdaryBackround);
    border-radius: .5em;
}

.uebungkoerperteil{
    border-radius: .3em;
    width: 100%;
    background-color: var(--thirdaryBackround);
    font-size: 1em;
    color: var(--textColor);
}
