.columns{
    display:flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 1em;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    background-color: var(--secondaryBackround);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: var(--normalFontSize);
}

.normal_input{
    background-color: var(--thirdaryBackround);
    font: inherit;
    outline: none;
    border: 0;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding-inline-start: .25em;
    padding-inline-end: .25em;
}

.normal_input::placeholder{
    left: 0;
    position: absolute;
}

.uebungkoerperteil{
    background-color: var(--thirdaryBackround);
    font-size: var(--normalFontSize);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.uebungButton{
    display: flex;
}

.wochentagChekboxes{
    background-color: var(--thirdaryBackround);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.nummbers{
    width: 2.3rem;
}

.nummbers::placeholder{
    padding-inline-start: .5em;
    
}

.uebungButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}